.params {
    display: flex;
    flex-direction: column;
    border: 2px solid #444;
    border-radius: 2vw; /* Rounded edges (relative to viewport width) */
    background-color: #666;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 2vw; /* Font size (relative to viewport width) */
    padding: 1vh 2vw; /* Padding (relative to viewport width and height) */
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    width: 100%;
    max-height: 70vh;
    overflow-y: auto;
}

.params table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1vh; /* Margin (relative to viewport height) */
}

.params thead {
    background-color: #444;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

.params tbody {
    background-color: #666;
    color: #fff;
}

.params td {
    border: 1px solid #444;
    padding: 1vh 2vw; /* Padding (relative to viewport width and height) */
}

.params td[data-param="explosive"] {
    color: red;
}

.params td[data-value="False"] {
    color: green;
}
