/* DataDisplayComponent.css */
.data-display {
    margin-top: 20px; /* Adjust this value to create space */
    position: relative; /* Set the position to relative */
    color: #000000;
    /* Create a pseudo-element */
  }