/* Reset body margin and padding to remove extra space */
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Add overflow: hidden to remove scrollbars */
  }
  
  /* Header styles */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Add overflow: hidden to prevent any content overflow */
  }
  
  /* Style for the header image */
  .header img {
    max-width: 100%;
    max-height: 100%;
    display: block;
  }
  