/* App.css */

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: black; /* Set the background color to black */
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: black; /* Ensure the app background is black */

}

.header, .footer {
  height: 10%;
  width: 100%;
  position: fixed;
  background-color: black; /* Set background color for header and footer */
  color: white; /* Adjust text color for visibility */
  z-index: 2; /* Ensures header and footer are above the main content */
}

.header {
  top: 0;
}

.footer {
  bottom: 0;
}

.main {
  flex: 1;
  overflow-y: auto;
  padding-top: 20%; /* Space for the header */
  padding-bottom: 10%; /* Space for the footer */
  background-color: black; /* Set the main content background to black */
}

