/* DataDisplay component styles */
.data-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    font-size: 50px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* DataPlot styles */
  .data-plot {
    width: 100%; /* Adjust the width as needed */
    /* Add any specific styles for your plot component */
  }
  
  /* DataTable styles */
  .data-table {
    width: 100%; /* Adjust the width as needed */
    /* Add any specific styles for your data table component */
  }
  