/* DataComponent.css */

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 10%;
  }
  
  .data > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; /* Adjust as needed */
  }
  
  select, button {
    text-align: center; /* Centers text within the select box and button */
    width: 50%;
    padding: 10px;
    margin: 10px 0; /* Adds margin above and below the button */
    font-size: 16px; /* Example font size, adjust as needed */
    font-family: Arial, sans-serif; /* Consistent font style */
    cursor: pointer;
    border: none;
    border-radius: 5px; /* Rounded corners */
    background-color: #f0f0f0;  /* Example background color, adjust as needed */
    color: rgb(0, 0, 0); /* Text color */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }
  
  button {
    cursor: pointer; /* Changes cursor to pointer on hover over the button */
    transition: background-color 0.3s; /* Smooth background color transition for interaction */
  }
  
  button:hover {
    background-color: #666666; /* Change color on hover for visual feedback */
  }
  
  /* Add any additional styles for select or button to match your footer's styling */
  